<!DOCTYPE html>
<html ng-app="TeamStatus">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet" />

    <link href="~/bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/bower_components/css-spinners/css/spinners.css" rel="stylesheet" />
    <link href="~/bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet" />

    <link href="~/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/Scripts/theme/jquery.metisMenu.js"></script>
    <script src="~/Scripts/theme/jquery.slimscroll.min.js"></script>

    <script src="~/Scripts/theme/Float/jquery.flot.js"></script>
    <script src="~/Scripts/theme/Float/jquery.flot.pie.js"></script>
    <script src="~/Scripts/theme/Float/jquery.flot.resize.js"></script>
    <script src="~/Scripts/theme/Float/jquery.flot.spline.js"></script>
    <script src="~/Scripts/theme/Float/jquery.flot.tooltip.min.js"></script>

    <script src="~/Scripts/theme/peity/jquery.peity.min.js"></script>
    <script src="~/Scripts/theme/peity/peity-demo.js"></script>

    <script src="~/Scripts/theme/inspinia.js"></script>

    <script src="~/Scripts/theme/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/theme/jquery.gritter.min.js"></script>
    <script src="~/Scripts/theme/sparkline-demo.js"></script>


    @* Bower Component ref *@
    <script src="~/bower_components/ngstorage/ngStorage.js"></script>
    <script src="~/bower_components/lodash/lodash.min.js"></script>
    <script src="~/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="~/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/bower_components/angular-touch/angular-touch.js"></script>
    <script src="~/bower_components/angular-ui-select/dist/select.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/bower_components/angular-utils-ui-breadcrumbs/uiBreadcrumbs.js"></script>
    <script src="~/bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>

    @* Config ref *@
    <script src="~/App_Scripts/Appjs/app.js"></script>
    <script src="~/App_Config/LoginRouteConfig.js"></script>
    <script src="~/App_Config/HomeRouteConfig.js"></script>

    @* Directives ref *@
    <script src="~/App_Directives/ui-dropdown/ui-dropdown.js"></script>

    @* Controller ref *@
    <script src="~/App_Controller/NavController.js"></script>
    <script src="~/App_Controller/HomeController.js"></script>
    <script src="~/App_Controller/LoginController.js"></script>
    <script src="~/App_Controller/TeamController.js"></script>
    <script src="~/App_Controller/MemberController.js"></script>
    <script src="~/App_Controller/UserController.js"></script>
    <script src="~/App_Controller/StatusController.js"></script>
    <script src="~/App_Controller/ProfileController.js"></script>
    <script src="~/App_Controller/UiviewController.js"></script>

    @* Service ref *@
    <script src="~/App_Services/AdminService.js"></script>
    <script src="~/App_Services/LoginService.js"></script>
    <script src="~/App_Services/EntityService.js"></script>
    <script src="~/App_Services/StatusService.js"></script>
    <script src="~/App_Services/UserService.js"></script>
    <script src="~/App_Services/ProfileService.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>

